.widget {
  margin: 20px 10px;
  position: absolute;
  bottom: 50px;
  right: 0;
  height: 400px;
  width: 290px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;

  &__header {
    padding: 20px;
    background-color: #e09554;
    border: none;
    line-height: 25px;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  &__description {
    width: 100%;
    font-size: 10px;
  }
  &__title {
    padding: 0;
    margin: 0px;
    margin-left: 25px;
    width: calc(100% - 25px);
  }
  &__online {
    font-size: 10px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 55%;
      right: -50px;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background-color: green;
      border-radius: 50%;
    }
  }
  &__imgWrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    transform: translate(-50%, -50%);
    padding: 4px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #e09554;
  }
  &__img {
    width: 60px;
    border-radius: 50%;
  }
  &__body {
    height: 100%;
    max-height: 400px;
    overflow: auto;
    padding: 10px;
  }
}
.send {
  padding: 10px;
  position: relative;

  border-top: 1px solid #dcdcdc;
  &__input {
    outline: none;
    border: none;
    padding: 8px 15px;
    width: calc(80% - 20px);

    &::placeholder {
      font-size: 14px;
      line-height: 1.4;
    }
  }
  &__icon {
    position: absolute;
    right: 5px;
    top: 50%;
    border-left: 1px solid #dcdcdc;
    padding: 8px 0px 8px 10px;
    color: #bbb;
    transform: translate(-50%, -50%);
  }
}
.message {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  &__img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 8px 5px 2px 0px;
  }
  &__img--client {
    display: none;
    margin: 8px 0 2px 5px;
  }
  &__time {
    text-align: center;
    font-size: 10px;
    margin: 0px 0 15px;
    color: #636b6f;
  }

  &--client {
    justify-content: flex-end;
    order: 2;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 82%;
    margin-top: 5px;
  }
  &__wrapper--client {
    align-items: flex-end;
  }
  &__context {
    background-color: #dfdfdf81;
    margin: 1px 0px;
    padding: 10px 15px;
    border-radius: 10px 10px 10px 0px;
    font-size: 12px;
    display: inline-block;
  }
  &__context--client {
    background-color: #e09554;
    border-radius: 10px 10px 0px 10px;
    color: white;
  }
}
